/.gradle/
/app/.gradle/
/.idea/
/app/.idea/
/gradle/
/keystore/
/app/build/
/build/
/app/release/
**/*.iml
settings.gradle
local.properties
*.log
app/proguard-rules.pro
gradlew
gradlew.bat
/key.jks
*/secret.xml
